---
layout: tv-layout
title: navigation-prototype
---

<div class="container homepage">
  <div class="container-inner">

    {% include _slices/large-carousel.html      data='proto-editorial-highlights'  title='' %}
    {% include _slices/medium-carousel-local-image.html      data='proto-most-popular'  title='Most Popular' %}
    {% include _slices/medium-carousel-local-image.html      data='proto-recommended-for-you'  title='Recommended for you' %}
    {% include _slices/medium-carousel-local-image.html      data='proto-comedy'  title='Comedy' %}

  </div>
</div>

<div class="container channels">

  <div class="secondary-navigation">
    {% include _slices/secondary-navigation-channels.html      data='secondary-navigation-channels'%}
  </div>

  <div class="container-inner" data-id="bbc-one">
    {% include _slices/large-carousel.html       data='spike-bbc-one-highlights'  title='' %}
    {% include _slices/medium-carousel-reversed.html      data='ordeal-by-innocence'  title='Ordeal by Innocence' %}
    {% include _slices/medium-carousel-reversed.html      data='graham-norton-show'  title='The Graham Norton Show' %}
  </div>

  <div class="container-inner" data-id="bbc-two">
    {% include _slices/large-carousel.html      data='spike-bbc-two-highlights'  title='' %}
    {% include _slices/medium-carousel-reversed.html      data='spike-qi'  title='QI' %}
    {% include _slices/medium-carousel-reversed.html      data='spike-britain-in-bloom'  title='Britain in Bloom' %}
  </div>

  <div class="container-inner" data-id="bbc-three">
    {% include _slices/large-carousel.html      data='spike-bbc-three'  title='' %}
  </div>

  <div class="container-inner" data-id="bbc-four">
    {% include _slices/large-carousel.html      data='spike-bbc-four'  title='' %}
  </div>

  <div class="container-inner" data-id="radio-one">
    {% include _slices/large-carousel.html      data='spike-radio-one'  title='' %}
  </div>

  <div class="container-inner" data-id="news">
    {% include _slices/large-carousel.html      data='spike-bbc-news'  title='' %}
  </div>

  <div class="container-inner" data-id="parliament">
    {% include _slices/large-carousel.html      data='spike-parliament'  title='' %}
  </div>

  <div class="container-inner" data-id="alba">
    {% include _slices/large-carousel.html      data='spike-alba'  title='' %}
  </div>

  <div class="container-inner" data-id="s4c">
    {% include _slices/large-carousel.html      data='spike-s4c'  title='' %}
  </div>

  <div class="container-inner" data-id="cbbc">
    {% include _slices/large-carousel.html      data='spike-cbbc'  title='' %}
  </div>

  <div class="container-inner" data-id="cbeebies">
    {% include _slices/large-carousel.html      data='spike-cbeebies'  title='' %}
  </div>


</div>

<div class="container categories">

  <div class="secondary-navigation">
    {% include _slices/secondary-navigation.html      data='secondary-navigation-categories'%}
  </div>

  <div class="container-inner" data-id="arts">
    {% include _slices/large-carousel.html      data='spike-arts'  title='' %}
  </div>

  <div class="container-inner" data-id="cbbc-category">
    {% include _slices/large-carousel.html      data='spike-cbbc-category'  title='' %}
  </div>

  <div class="container-inner" data-id="cbeebies-category">
    {% include _slices/large-carousel.html      data='spike-cbeebies-category'  title='' %}
  </div>

  <div class="container-inner" data-id="comedy">
    {% include _slices/large-carousel.html      data='spike-comedy'  title='' %}
    {% include _slices/medium-carousel.html      data='spike-gavin-and-stacey'  title='Gavin and Stacey' %}
  </div>

  <div class="container-inner" data-id="documentaries">
    {% include _slices/large-carousel.html      data='spike-documentaries'  title='' %}
  </div>

  <div class="container-inner" data-id="dramas-and-soaps">
    {% include _slices/large-carousel.html      data='spike-dramas-and-soaps'  title='' %}
  </div>

  <div class="container-inner" data-id="entertainment">
    {% include _slices/large-carousel.html      data='spike-entertainment'  title='' %}
  </div>

  <div class="container-inner" data-id="films">
    {% include _slices/large-carousel.html      data='spike-films'  title='' %}
  </div>

  <div class="container-inner" data-id="food">
    {% include _slices/large-carousel.html      data='spike-food'  title='' %}
  </div>

  <div class="container-inner" data-id="history">
    {% include _slices/large-carousel.html      data='spike-history'  title='' %}
  </div>

  <div class="container-inner" data-id="lifestyle">
    {% include _slices/large-carousel.html      data='spike-lifestyle'  title='' %}
  </div>

  <div class="container-inner" data-id="music">
    {% include _slices/large-carousel.html      data='spike-music'  title='' %}
  </div>

  <div class="container-inner" data-id="news-category">
    {% include _slices/large-carousel.html      data='spike-news-category'  title='' %}
  </div>

  <div class="container-inner" data-id="science-and-nature">
    {% include _slices/large-carousel.html      data='spike-science-and-nature'  title='' %}
  </div>

  <div class="container-inner" data-id="sport">
    {% include _slices/large-carousel.html      data='spike-sport'  title='' %}
  </div>

  <div class="container-inner" data-id="from-the-archive">
    {% include _slices/large-carousel.html      data='spike-from-the-archive'  title='' %}
  </div>

  <div class="container-inner" data-id="audio-described">
    {% include _slices/large-carousel.html      data='spike-audio-described'  title='' %}
  </div>

  <div class="container-inner" data-id="signed">
    {% include _slices/large-carousel.html      data='spike-signed'  title='' %}
  </div>

  <div class="container-inner" data-id="wales">
    {% include _slices/large-carousel.html      data='spike-wales'  title='' %}
  </div>

  <div class="container-inner" data-id="scotland">
    {% include _slices/large-carousel.html      data='spike-scotland'  title='' %}
  </div>

  <div class="container-inner" data-id="northern-ireland">
    {% include _slices/large-carousel.html      data='spike-northern-ireland'  title='' %}
  </div>

</div>

<div class="container search"></div>

<div class="container settings"></div>
