---
layout: tv-layout
title: navigation-prototype
---

<div class="container homepage">
  <div class="container-inner">

    {% include _slices/large-carousel.html      data='proto-editorial-highlights'  title='' %}
    {% include _slices/medium-carousel.html      data='proto-most-popular'  title='Most Popular' %}
    {% include _slices/medium-carousel.html      data='proto-recommended-for-you'  title='Recommended for you' %}
    {% include _slices/medium-carousel.html      data='proto-comedy'  title='Comedy' %}

  </div>
</div>

<div class="container channels">

  <div class="secondary-navigation">
    {% include _slices/secondary-navigation-channels.html      data='secondary-navigation-channels'%}
  </div>

  <div class="container-inner" data-id="bbc-one">
    {% include _slices/large-carousel.html      data='spike-bbc-one-highlights'  title='' %}
    {% include _slices/medium-carousel.html      data='proto-normal-priority'  title='BBC One' %}
  </div>

  <div class="container-inner" data-id="bbc-two">
    {% include _slices/medium-carousel.html      data='proto-high-priority'  title='BBC Two' %}
    {% include _slices/medium-carousel.html      data='proto-high-priority'  title='BBC Two' %}
  </div>

</div>

<div class="container categories">

  <div class="secondary-navigation">
    {% include _slices/secondary-navigation.html      data='secondary-navigation-categories'%}
  </div>

  <div class="container-inner" data-id="comedy">
    {% include _slices/medium-carousel.html      data='proto-comedy'  title='Comedy' %}
    {% include _slices/medium-carousel.html      data='proto-comedy'  title='Comedy' %}
  </div>

  <div class="container-inner" data-id="documentaries">
    {% include _slices/medium-carousel.html      data='proto-documentaries'  title='Documentaries' %}
    {% include _slices/medium-carousel.html      data='proto-documentaries'  title='Documentaries' %}
  </div>

  <div class="container-inner" data-id="entertainment">
    {% include _slices/medium-carousel.html      data='proto-entertainment'  title='Entertainment' %}
    {% include _slices/medium-carousel.html      data='proto-entertainment'  title='Entertainment' %}
  </div>


</div>
