<div class="content-wrapper small resume">
  <div class="content-image">
    <div class="content-grad"></div>
    <img src="{{ site.baseurl}}/{{ entity.images.standard }}">
  </div>
  <div class="content-footer"></div>

  <div class="content-detail">

    <div class="content-icon">
      <svg width="17px" height="22px" viewBox="0 0 17 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Links-within-stream" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <polygon id="Iconography/iPlayer-Play-24px" fill="#EBEBEB" points="0 0 0 5.33350001 5.33350001 5.33350001 5.33350001 3.14876507 13.9891038 10.6663333 5.33350001 18.185235 5.33350001 8.00025001 0 8.00025001 0 21.3333333 5.00148963 21.3333333 17.0018646 10.6663333 5.00148963 0"></polygon>
          </g>
      </svg>
    </div>

  <div class="resume-bar">
    <div class="progress-bar"></div>
  </div>

    <div class="content-label">
      <p class="editorialLabel">{{ entity.labels.editorial }}</p>
      <p class="categoryLabel">{{ entity.labels.category }}</p>
    </div>

    <div class="content-title">
      {{ entity.title }}
    </div>

    <div class="content-subtitle">
      {{ entity.subtitle }}
    </div>

  </div>

</div>
